TUTU_ENABLED=false
TUTU_BASE_URL=
TUTU_API_KEY=
TUTU_LOGIN=
TUTU_PASSWORD=
TUTU_TIMEOUT_SECONDS=20
YANDEX_DIAGNOSTICS_VERBOSE=false
YANDEX_DIAGNOSTICS_PREVIEW_CHARS=4000
YANDEX_DIAGNOSTICS_MAX_DETAILS_BYTES=32768
